.greeting {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark-blue); /* Dark background */
    color: var(--light-gray); /* Light text */
    position: fixed;
    width: 100%;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    padding: 0 20px;
    text-align: center;
  }
  
  .greeting.hidden {
    opacity: 0;
  }
  
  .greeting h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .greeting h3 {
    font-size: 1.5em;
    width: 60%;
  }
  