.greeting {
  height: 100vh;
  background: linear-gradient(to right, var(--primary-dark-blue), var(--secondary-dark-blue)); /* Ombre effect */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.greeting-table {
  width: 80%;
  border-collapse: collapse; 
}

.text-section, .image-section {
  padding: 10px;
}

.image-section img {
  max-width: 100%;
  height: auto;
}
