.home-page {
    text-align: center;
  }
  
  .navigation-table {
    border: solid;
    border-radius: 10px;
    width: 100%;
  }
  
  .navigation-table td {
    border: solid;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 18px;
  }
  
  body {
    background-color: antiquewhite;
  }
  
  footer {
    text-align: center;
    padding: 20px;
  }
  