.sidebar {
  position: fixed; 
  width: 200px;
  height: 100vh;
  background-color: var(--primary-dark-blue);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 1.2em;
}

.sidebar a:hover {
  color: var(--accent-blue);
}
