/* Style for Navbar */
.sidebar {
  position: fixed; /* Keep the navbar fixed on the side */
  width: 200px; /* Adjust width as needed */
  height: 100vh; /* Full viewport height */
  background-color: var(--primary-dark-blue);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000; /* Ensure it sits above other content */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: var(--light-gray);
  text-decoration: none;
  font-size: 1.2em;
}

.sidebar a:hover {
  color: var(--accent-blue);
}
