.App {
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  height: 200vh; /* Make the page scrollable */
}

.greeting {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  position: fixed;
  width: 100%;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.greeting.hidden {
  opacity: 0;
}

.introduction {
  position: relative;
  top: 100vh;
  width: 100%;
  padding: 50px;
  background-color: #fff;
  color: #333;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.introduction.visible {
  opacity: 1;
}
